*{
    margin: 0;
    padding: 0;
}

.login-container{
    .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 20px;
        width: 80%;
        min-width: 300px;
        max-width: 600px;
        padding: 15px;
        background-color:bisque;
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;
            input{
                padding: 5px 10px;
                background-color: antiquewhite;
                font-size: 18px;
            }
            button{
                margin-top: 25px;
                padding: 5px 10px;
                background-color: blue;
                color: white;
            }
        }
    }
}